body{
    display:grid;
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;
}


h1{
    margin: auto;
    color: blueviolet;
}


.container{
    display:flex;
    flex-direction: row;

}

.petImages {
    
    margin: 5px;
    width: 200px;
    height:200px;
}

.heart {
    
    
    width: 50px;
    height:50px;
}



.hidden{
    display:none;
}

.votes{
    color: crimson;
    font-size: 2rem;
}